.movie {
	display: grid;
	grid-template-columns: 2fr 3fr;
	gap: 3rem;
	align-items: center;
	margin-top: 3rem;
}
.the-movie-img {
	width: 15rem;
	justify-self: end;
	margin-right: 1rem;
	border-radius: var(--borderRadius);
}

.movie p {
	font-weight: 700;
	line-height: 2;
	margin-bottom: 1rem;
	text-align: justify;
}
.movie-data {
	margin-right: 0.5rem;
	background: var(--primary-300);
	padding: 0.25rem 0.5rem;
	border-radius: var(--borderRadius);
	color: var(--white);
	letter-spacing: 1px;
}

@media (max-width: 992px) {
	.movie {
		display: grid;
		grid-template-columns: 1fr;
		margin-bottom: 2rem;
		margin-top: 1rem;
	}
	.the-movie-img {
		justify-self: center;
		margin-right: 0;
	}
	.movie-info {
		padding-top: 0;
	}
	.movie p {
		font-weight: 600;
		line-height: 1.5;
		margin-bottom: 0.4rem;
	}
}
